@font-face {
  font-family: 'Roboto';
  src: url('./font/roboto-regular.woff') format('woff');
}

@font-face {
  font-family: 'Century Gothic';
  src: url('./font/century-gothic.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 600;
  border: none;
}

body {
  background-color: #3D0302;
  color: #FFC640;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: flex-end;
  min-height: 100px;
  background-color: #A3320B;
  padding-left: 20rem;
}

.header span {
  font-size: 3rem;
  margin-bottom: 8px;
}

.content {
  display: flex;
  flex-direction: column;
}

#btn-add-book {
  color: #FFC640;
  font-size: 2.5rem;
  padding: 20px 40px;
  margin-top: 30px;
  background-color: transparent;
  border-radius: 10px;
  place-self: center;
  transition: all .2s;
}

#btn-add-book:hover {
  background-color: rgba(213, 13, 10, 0.593);
  box-shadow: #a3310b42 0 0  20px 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 30px 10%;
  gap: 30px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  background-color: #A3320B;
  border-radius: 10px;
  padding: 20px 0;
  gap: 10px 5%;
}

.card > * {
  flex: 1 1 40%;
  font-size: 22px;
}

.card > *:nth-child(odd) {
  flex: 1 1 30%;
  justify-self: flex-end;
  text-align: end;
}

.card > *:nth-child(even) {
  flex: 1 1 65%;
}
